<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="login.css">
</head>
<body>
    
<h1>Sign Up</h1>

    <form action="/signup" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
    </form>

       <a href="/">Go back to login page</a>

</body>
</html>-->
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>

    <h1>Login Form</h1>

    <form action="/login" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
     <h3>Dont have a account ?</h3>
    <a href="/signup">Create a new account</a>
    </form> 
</body>
</html>-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local-E</title>

  
<!--  font awesome cdn link -->
<link rel="icon" href="logo-final1.png">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
<link rel="stylesheet" href=" https://fontawesome.com/">
<link rel="stylesheet" href="https://fonts.google.com/">
<!-- custom css file link-->
<link href='https://fonts.googleapis.com/css?family=Inter' rel='stylesheet'>
<link rel="stylesheet" href="login.css"> 
<link rel="stylesheet" href="style.css">
</head>
<style>.theiaStickySidebar:after {content: ""; display: table; clear: both;}</style>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-Q9KZND01P8"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', 'G-Q9KZND01P8');

  var lat = '';
  var long = '';
</script>
<body>
    <!-- head section starts -->
<header>
    <a id="scroll-up" class="button_2" href="javascript:void()" title="Go to Top" style="display: block;"><i class="fa fa-angle-up"></i></a>
        <header class="header main_header stricky_up">
          <div class="topbar">
            <div class="top-header">
                          <div class="col-lg-2 col-md-2 col-xs-6">
                  <div class="logo border">
                    <a href="home.html" title="Local-"><img src="logo-final1.png" alt="Local-E"></a>
                  </div>
                </div>
                
              <div class="col-lg-2 col-md-2 hidden-xs">
                <div class="header_category_1 border">
                           Shop by Category 
                </div>
                </div>
                
                <div class="col-lg-4 col-md-3  col-lg-pull-4 col-md-pull-5 col-xs-10">
                  <div class="search-top">
                    <form method="get" action="home.html/search">
                      <div id="sw_search" class="search">
                        <div class="content-search border">
                          <input class="autosearch-input" type="text" value="" size="50" placeholder="Search by product..." name="search_keyword" id="search_keyword" required="" autocomplete="off" fdprocessedid="rqv00a" style="height: 20%;">	
                          <span class="input-group-btn">
                            <button type="submit" class="fa fa-search button-search-pro form-button" fdprocessedid="usip3"></button>
                          </span>
                          <div class="serachListingHeader"></div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>

                <div class="location border">
                <!-- <a href="javascript:void();" data-toggle="modal" data-target="#location" title="Choose Location"> -->
                  <img src="location-pin.png" alt="error">
                <div class="location-text"><p> Location     </p>   
                 </div>                
            </div>
                

                <div class="border">
                  <a href="login.hbs">Login/Sign-up</a>
                </div>
                
                <div class="shopping-cart border">
                <img src="carts.png" alt="error">
                <div class="shopping-cart-text">
                  Cart
                </div>
                </div>
                
          </div>
          </div>
        

          
          <!-- 2nd navbar starts -->                                                                
          <div class="navbar2">
            <div class="home second">
            <a href="clothing.html">CLOTHING</a>
            </div>
            <div class="furni second">
           <a href="supermarket.html">SUPERMARKET</a>
           </div>
           <div class="custom second">
           <a href="kitchen_needs.html">HOME,KITCHEN AND GARDEN</a>
           </div>
           <div class="about second">
           <a href="electronics.html">ELECTRONICS</a>
           </div>
           <div class="contact second">
           <a href="stationery.html">STATIONERY</a>
           </div>
           
           
         </div>
        <!-- 2nd navbar ends -->
          </div>
          </header>
          </header>

<!-- header ends -->


<!-- body starts -->
<!--login details starts-->
<div class="background-image">
    <div class="wrapper">
        <nav class="nav">
            <div class="nav-menu" id="navMenu">
               
            </div>
            <div class="nav-button">
                <button class="btn white-btn" id="loginBtn" onclick="login()">Sign In</button>
                <button class="btn" id="registerBtn" onclick="register()">Sign Up</button>
            </div>
            <div class="nav-menu-btn">
                <i class="bx bx-menu" onclick="myMenuFunction()"></i>
            </div>
        </nav>
    
    <div class="form-box">
            
            <!------------------- login form -------------------------->
    
            <div class="login-container" id="login">
                <div class="top">
                    <span>Don't have an account? <a href="#" onclick="register()">Sign Up</a></span>
                    <header>Login</header>
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Username or Email">
                    <i class="bx bx-user"></i>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Password">
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit" value="Sign In">
                </div>
                <div class="input">
                    <button id="google-login-btn" class="google-button">
                        <i class="fab fa-google"></i>Login with Google
                    </button>
                </div>
                <div class="two-col">
                    <div class="one">
                        <input type="checkbox" id="login-check">
                        <label for="login-check"> Remember Me</label>
                    </div>
                   <!-- <div class="two">
                        <label><a href="#">Forgot password?</a></label>
                    </div>-->
                </div>
            </div>
    
            <!------------------- registration form -------------------------->
            <div class="register-container" id="register">
                <div class="top">
                    <span>Have an account? <a href="#" onclick="login()">Login</a></span>
                    <header>Sign Up</header>
                </div>
                <div class="two-forms">
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Firstname">
                        <i class="bx bx-user"></i>
                        
                    </div>
                    <div class="input-box">
                        <input type="text" class="input-field" placeholder="Lastname">
                        <i class="bx bx-user"></i>
                    </div>
                </div>
                <div class="input-box">
                    <input type="text" class="input-field" placeholder="Email">
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="input-box">
                    <input type="password" class="input-field" placeholder="Password">
                    <i class="bx bx-lock-alt"></i>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit" value="Register">
                </div>
                <div class="two-col">
                    <div class="one">
                        <input type="checkbox" id="register-check">
                        <label for="register-check"> Remember Me</label>
                    </div>
                    <div class="two">
                        <label><a href="#">Terms & conditions</a></label>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    </div>
    <script>
       
        function myMenuFunction() {
         var i = document.getElementById("navMenu");
     
         if(i.className === "nav-menu") {
             i.className += " responsive";
         } else {
             i.className = "nav-menu";
         }
        }
      
     </script>
     
     <script>
     
         var a = document.getElementById("loginBtn");
         var b = document.getElementById("registerBtn");
         var x = document.getElementById("login");
         var y = document.getElementById("register");
     
         function login() {
             x.style.left = "4px";
             y.style.right = "-520px";
             a.className += " white-btn";
             b.className = "btn";
             x.style.opacity = 1;
             y.style.opacity = 0;
         }
     
         function register() {
             x.style.left = "-510px";
             y.style.right = "5px";
             a.className = "btn";
             b.className += " white-btn";
             x.style.opacity = 0;
             y.style.opacity = 1;
         }
     
     </script>
    <!--login details ends-->


<!-- footer starts -->
          <footer>
            <div class="container">  
                <div class="address">
            <h4>ABOUT</h4>
            <ul>
                <li></i>&nbsp;&nbsp;<a href="#">Contact us</a></li></li>
                <li></i>&nbsp;&nbsp;<a href="#">About us</a></li></li>
                <li></i>&nbsp;&nbsp;<a href="#">Site map</a></li></li>
            </ul>
           </div>
           <div class="seller">
           <h4>SELLER HELP GUIDE</h4>
            <ul>
            <li><a href="#">Seller Registeration</a></li>
            <li><a href="#">Payments</a></li>
            <li><a href="#"> Cancellation & Return</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Report Infringement</a></li>
           </ul>
        </div>
        <div class="policy">
            <h4>POLICY</h4>
             <ul>
             <li><a href="#">Terms of Use</a></li>
             <li><a href="#">Security</a></li>
             <li><a href="#">  Disclaimer</a></li>
             <li><a href="#"> Privacy</a></li>
            </ul>
         </div>
         <div class="news">
            <h4>Join our newsletter</h4><br><br>
            <p><label>Your email</label><br><br>
                <input type="email" placeholder=" Enter your email"><br><br>
            <input type="Button" value="send" name="send" ></p><br>
    
           </div>
           <div class="logo1">
            <p>Our social media</p><br>
            <ul>
                <li><a href="#"><i class="fa-brands fa-instagram" style="color: #e9ecf1;"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-twitter" style="color: #fafcff;"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-youtube" style="color: #ffffff;"></i></a></li>
            </ul>
           </div>
           
           </div>
        
        </footer>
        <!-- footer ends -->
          </body></html>      